[defaults]
host_key_checking = False
pipelining = True
become = True
become_method = sudo
become_user = root
become_ask_pass = False
forks = 20
gather_facts = smart
fact_caching = memory
fact_caching_timeout = 86400
inventory = inventory/mycluster/hosts.yaml
private_key_file = ~/.ssh/id_rsa
timeout = 30
stdout_callback = default
callback_whitelist = timer, profile_tasks
retry_files_enabled = False
command_warnings = False
deprecation_warnings = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=300s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = True
retries = 3